@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1280px;
	padding: 0 60px;
	margin: auto;
}
.font{

	&-bold {
		font-weight: bold;
	}
	&-noto {
		font-family: "Noto_Sans";
	}
}

.flex {
	display: flex;

	&-column {
		flex-direction: column;
	}
	
	&-space-between {
		justify-content: space-between;
	}

	&-align-stretch {
		align-items: stretch;
	}
	
	&-align-bottom {
		align-items: flex-end;
	}

	&-align-center {
		align-items: center;
	}

	&-wrap {
		flex-wrap: wrap;
	}
}

.section {
	padding: 30px 0;

	&:first-of-type {
		padding: 60px 0 30px 0;
	}

	&:only-of-type {
		padding: 60px 0;
	}
}

.title-base {
	color: $text;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.page-account {

	&__title {
		margin-bottom: 35px;
	}
}

.line-decorate {
	margin-left: 26px;
	position: relative;
	display: inline-block;

	&:before {
		content: url('../img/line-decorate.svg');
		width: 10px;
		height: 17px;
		position: absolute;
		left: -5px;
		top: 3px;
		transform: translateX(-100%);
	}
}

.link {
	transition: .2s;
	padding: 24px 66px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid transparent;
	border-radius: 2px;
	position: relative;
	outline: none;

	&:before {
		content: url('../img/link-before.svg');
		position: absolute;
		height: 14px;
		width: 7px;
		transition: .2s;
		top: 50%;
		left: 40px;
		transform: translateY(-87%);
	}

	&:hover,
	&:focus {
		background-color: transparent;
		
		&:before {
			opacity: 0;
		}
	}

	&-red {
		background-color: $btn;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border-color: $btn;
			color: $btn;
		}
	}

	&-account {
		padding: 21px 30px 21px 50px;
		border: 1px solid;
		border-radius: 2px;
		text-decoration: none;
		line-height: 1;
		font-size: 0.8125em;
		position: relative;
		transition: .2s;
	
		&:before {
			content: url('../img/profile.svg');
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
		}
	}

	&-white {
		background-color: transparent;
		color: #ffffff;
		border-color: white;
	
		&:hover,
		&:focus {
			background-color: $btn;
			border-color: $btn;
		}
	}
}


.button {
	transition: .2s;
	padding: 24px 66px;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 2px;
	position: relative;
	outline: none;

	&:hover,
	&:focus {
		background-color: transparent;
		
		&:before {
			opacity: 0;
		}
	}

	&:before {
		content: url('../img/link-before.svg');
		position: absolute;
		height: 14px;
		width: 7px;
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}

	&-red {
		background-color: $btn;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border: 2px solid $btn;
			color: $btn;
		}
	}

	&-blue {
		background-color: $blue;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border: 2px solid $blue;
			color: $blue;
		}
	}
}

.color {

	&-red {
		color: $btn;
	}

	&-white {
		color: #ffffff;
	}

	&-blue {
		color: $blue;
	}
}

.border {
	border: 1px solid;
	border-radius: 2px;

	&-grey {
		border-color: #DEE2FF;
	}
}

object, img {
	max-width: 100%;
}

.header {
	padding-top: 15px;
	padding-bottom: 18px;

	&__logo {
		flex-shrink: 0;
	}

	&__menu {
		width: 100%;
		margin-left: 110px;
		margin-right: 100px;
	}

	&__profile {
		flex-shrink: 0;
	}

	&-blue {
		background-color: $bgc;
		color: #ffffff;
	}
}

.menu {

	&__list {
		padding: 0;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		text-decoration: none;
		position: relative;
		padding-left: 10px;
		color: #ffffff;
		font-size: 0.75em;
		text-transform: uppercase;

		&:before {
			content: url('../img/header/header-arrow.svg');
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 6px;
			height: 16px;
		}

		&:after {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: #ffffff;
			left: 0;
			right: 0;
			bottom: -2px;
		}
	}

	&-blue {
		
		.menu {

			&__link {
				color: #ffffff;

				&:hover,
				&:focus {
					color: $btn;

					&:before {
						content: url('../img/header/header-arrow-active.svg');
					}

					&:after {
						background-color: $btn;
					}
				}
			}

			&__link-active {
				color: $btn;

				&:before {
					content: url('../img/header/header-arrow-active.svg');
				}

				&:after {
					background-color: $btn;
				}
			}
		}
	}
}

.profile {
	padding-left: 20px;
	font-size: 1em;
	line-height: 1.3;

	&__block {
		position: relative;
		display: inline-block;

		&:before {
			position: absolute;
			left: -6px;
			transform: translateX(-100%);
		}
	}

	&__name {

		&:before {
			content: url('../img/profile-red.svg');
		}
	}

	&__balance {

		&:before {
			content: url('../img/balance.svg');
			left: -5px;
		}
	}
}

.home {
	background-color: #404EF5;
	padding: 0 0 60px 0;
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 100%;
	min-height: 100vh;

	&:first-of-type {
		padding: 0 0 60px 0;
	}

	&__link {
		margin-right: 30px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__phone {
		font-size: 1em;
		color: #ffffff;
		text-decoration: none;
		font-weight: 600;
		transition: .2s;

		&:hover {
			color: $btn;
		}
	}

	&__title {
		font-size: 3.375em;
		font-weight: 600;
		max-width: 770px;
		line-height: 1.1;
		margin: 60px 0 0 0;
	}

	&__text {
		max-width: 573px;
		font-size: 1.375em;
		margin: 14px 0 40px 0;
		padding: 0;
	}

	&__speed {
		font-size: 	1.125em;
		font-weight: normal;

		&-number {
			font-size: 1.437em;
			font-weight: 600;
		}
	}

	&__offer {
		font-size: 1.25em;
		margin-top: 40px;
		margin-bottom: 28px;
		line-height: 1.3;
	}
}

.benefits {
	padding: 75px 0 44px 0;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		height: 135px;
		width: 100%;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $blue;
		z-index: -1;
	}

	&__title {
		max-width: 850px;
		margin-bottom: 35px;
		font-size: 1.875em;
	}

	&-wrapper {
		margin-top: 39px;
	}

	.color-red {
		color: $text;
	}
}

.quote {
	background-color: #F6FAFF;
	padding: 25px;
	border-left: 2px solid;
	border-color: $blue;
	margin: 11px 0;
	max-width: 1054px;

	&__block {
		margin-bottom: 12px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.border-red {
	border-color: $btn;
}

.benefit-card {
	max-width: 298px;
	width: 24%;
	padding: 19px 0 60px 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 50px rgba(20, 57, 96, 0.15);
	position: relative;

	&:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 75px;
		bottom: 45px;
		left: 17px;
		background-color: $btn;
	}

	&__title {
		font-size: 1em;
		color: $text;
		margin-left: 60px;
		margin-right: 17px;
		position: relative;
		line-height: 1.4;
		min-height: 48px;
		text-transform: uppercase;

		&:before {
			content: url('../img/benefit-card-tick.svg');
			position: absolute;
			width: 28px;
			height: 26px;
			left: -12px;
			top: 50%;
			transform: translateX(-100%) translateY(-50%);
		}
	}

	&__img-wrapper {
		margin: 25px 0 15px 0;
	}

	&__img {
		max-height: 225px;
		width: 100%;
	}

	&__text {
		padding: 0 17px;
		font-size: 1em;
		line-height: 1.4;
		position: relative;
	}
}

.how-it-works {
	background-repeat: no-repeat;
	padding: 60px 0;
	background-size: 50%;
	background-position: 100% 92%;
	background-image: url('../img/how-it-work/background.png');

	&__title {
		margin-bottom: 7px;
		font-size: 2.25em;
	}

	&__text {
		margin-bottom: 15px;
		line-height: 1.4;
	}

	&__subtitle {
		margin-top: 25px;
		font-size: 1.875em;
	}
}

.hidden {
	display: none;
}

.hardware {

	&__item {
		padding: 20px 0;
		max-width: 730px;
	}

	&__title {
		font-size: 1.125em;
		line-height: 1.4;
	}

	&__icon {
		flex-shrink: 0;
		margin-right: 10px;
		width: 38px;
		text-align: center;
	}
}

.connection {
	padding: 0 0 30px 0;

	&__title {
		font-size: 2.25em;
		line-height: 1.5;
	}
}

.sales {

	&__wrapper {
		padding: 40px 0
	}
}

.sale-item {
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.09);
	max-width: 357px;
	width: 32%;
	text-align: center;
	overflow: hidden;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-bottom: 52px;

	&__title {
		text-align: left;
		padding: 14px 35px;
		background-color: $bgc;
		font-size: 1.375em;
		color: #ffffff;
		text-transform: uppercase;
		line-height: 1.5;
		font-weight: 500;
	}

	&__img-wrapper {
		max-width: 214px;
		margin: 20px auto 10px auto;
	}

	&__list {
		padding: 0 40px;
	}

	&__price {
		font-weight: 600;
		font-size: 1.875em;
		line-height: 2.3125em;
		margin: 35px 0;
	}
}

.list-bullet {
	text-align: left;

	&__item {
		font-size: 0.875em;
		display: block;
		position: relative;
		margin: 15px 0 15px 10px;

		&:before {
			content: url('../img/bullet.svg');
			width: 5px;
			height: 9px;
			position: absolute;
			left: -7px;
			top: 0;
			transform: translateX(-100%);
		}
	}
}

.list-icon {
	text-align: left;
	font-size: 1em;
	padding: 0 17px;

	&__item {
		margin: 30px 0;
	}

	&__icon {
		flex-shrink: 0;
		width: 27px;
		height: 27px;
		margin-right: 10px;
	}
}

.rate {
	padding: 0 0 88px 0;

	&__title {
		font-size: 2.25em;
	}
	
	.sale-item__title {
		margin-bottom: 40px;
		font-size: 1.25em;
		padding: 20px;
		text-transform: none;
	}
}

.application-form {
	padding: 0;
	background-color: $bgc;

	&__img-anchor {
		padding-top: 25px;
		padding-bottom: 40px;
		position: relative;
	}

	&__title {
		margin-bottom: 19px;
		font-size: 1.9em;
		max-width: 80%;
	}

	&__img-wrapper {
		position: absolute;
		bottom: 0;
		right: 60px;
		max-width: 266px;
		max-height: 314px;
	}
}

.form {

	&__subtitle {
		display: block;
		margin-bottom: 18px;
	}

	&__radio-wrapper {
		border-bottom: 1px dashed #dee2ff;
		padding: 13px 0;
		max-width: 350px;
	}

	&__privacy {
		font-size: 0.8em;
		letter-spacing: 0.9px;
		margin-bottom: 20px;

		.form__checkbox {
			margin-right: 5px;
			margin-top: 3px;
		}
	}

	&__link {
		transition: .2s;

		&:hover, 
		&:focus {
			color: $btn;
		}
	}

	&__checkbox {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 14px;
			height: 15px;
			border: 1px solid #ffffff;
			border-radius: 2px;
			background-color: $bgc;
		}

		&:after {
			content: url('../img/popup/tick.svg');
			position: absolute;
			opacity: 0;
			transform: translateX(-35%) translateY(-65%);
			left: 50%;
			top: 50%;
			width: 14px;
			height: 15px;
		}

		&:checked {

			&:after {
				opacity: 1;
			}
		}
	}

	&__label {
		cursor: pointer;
	}

	&__input {
		background-color: #ffffff;
		font-size: 1.125em;
		padding: 17px 21px;
		line-height: 1.4;
		border-radius: 2px;
		border: none;
		margin-right: 20px;
		margin-bottom: 20px;

		&::placeholder {
			color: rgba(0, 0, 0, 0.6);
		}

		&-radio {
			margin: 0 10px 0 0;
			position: relative;
			cursor: pointer;

			&:before {
				content: "";
				border: 1px solid $blue;
				border-radius: 50%;
				width: 14px;
				height: 14px;
				position: absolute;
				background-color: #ffffff;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

			&:after {
				content: "";
				border-radius: 50%;
				position: absolute;
				width: 0px;
				height: 0px;
				background-color:$blue;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

			&:checked {
				&:after {
					width: 12px;
					height: 12px;
				}
			}
		}

		&[type="number"] {
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
 	}

	&-white {
		
		.form {
			
			&__input {
				background-color: #F7F8FF;
				color: #AFAEAF;
	
				&::placeholder {
					color: #AFAEAF;
				}
			}

			&__link {
				color: #ffffff;

				&:hover, 
				&:focus {
					color: $btn;
				}
			}
		}
	}
}

.how-connect {
	padding: 50px 0;

	&__title {
		margin-bottom: 30px;
		font-size: 2.25em;
	}
}

.timeline {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $btn;
		z-index: 1;
	}

	&__item {
		position: relative;
		padding-bottom: 20px;
		width: 25%;

		&:after {
			content: "";
			position: absolute;
			width: 11px;
			height: 11px;
			background-color: #ffffff;
			border-radius: 50%;
			border: 2px solid $btn;
			bottom: 0;
			left: 0;
			z-index: 2;
			transform: translateY(6px);
		}
	}

	&__number {
		font-size: 3.375em;
		line-height: 1.5;
		margin-bottom: 0px;
	}

	&__text {
		font-size: 1em;
		line-height: 1.4;
		text-transform: uppercase;
	}
}

.about {
	padding-top: 30px;
	padding-bottom: 100px;

	&__info {
		width: 55%;
	}

	&__title {
		font-size: 2.25em;
		margin-bottom: 20px;
	}
	
	&__text {
		margin: 20px 0;
	}

	&__slider {
		width: 45%;
		margin-top: 40px;
	}
	
	.slider {

		&__item {
			max-width: 357px;
		}
	}
}

.footer {
	background-color: $bgc;
	margin-bottom: 30px;
	position: relative;
	
	&__wrapper {
		padding-top: 15px;
		padding-bottom: 24px;
	}

	&__iframe {
		width: 100%;
		height: 100%;
	}

	.contacts {
		flex-shrink: 0;
		margin-top: 30px;
		margin-right: 50px;
	}

	&__info {
		width: 50%;
		margin-top: -15px;
	}

	&__title {
		font-size: 1em;
		margin-bottom: 20px;
	}

	&__logo {
		max-width: 130px;
	}

	&__map {
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 50%;
	}

	.button {
		padding: 18px 66px;
	}
}

.contacts {

	&__string {
		display: block;
	}

	&__block {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__link {
		text-decoration: none;
		transition: .2s;

		&:hover,
		&:focus {
			color: $btn;
		}
	}

	&__link-social {
		margin-right: 10px;
	}
}

.slider {
	
	&__surface {
		position: relative;
		overflow: hidden;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: absolute;
		margin-top: 70px;
		margin-bottom: 20px;
	}

	&__item {
		flex-shrink: 0;
		max-width: 70%;
		width: 100%;
		transform: scale(1);
		z-index: -1;
		margin-right: 10px;
		text-align: center;
		outline: none;

		img {
			max-height: 100%;
			border-radius: 2px;
			width: 100%;
		}

		&-active {
			z-index: 2;
			margin-right: 0;
			transform: scale(1.18) translateX(15%);
		}
	}

	&__controller {
		margin-top: 20px;
		margin-left: 33px;
	}
	
	&__arrow {
		border: none;
		width: 12px;
		padding: 0;
		height: 20px;
		background-color:transparent;
		outline: none;
		cursor: pointer;

		&-prev {
			transform: rotate(-180deg);
			margin-right: 35px;
		}
	}
}

.popup {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);

	&-open-without-animation {
		display: block;
		
		.popup__wrapper {
			opacity: 1;
		}
	}

	&-open {
		display: block;
		
		.popup__wrapper {
			animation-name: popupWrapperOpen;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
		}
	}

	&-success {
		
		.popup {

			&__wrapper {
				max-width: 360px;
				padding: 50px 20px 80px 20px;
			}

			&__title {
				margin-top: 20px;
			}
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $btn;
		width: 37px;
		height: 37px;
		border: none;
		outline: none;
		padding: 5px;
		cursor: pointer;
	}
	
	&__wrapper {
		opacity: 0;
		position: absolute;
		padding: 40px 25px 30px 25px;
		color: #ffffff;
		text-align: center;
		max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		max-width: 430px;
		border-radius: 2px;
		background-color: $bgc;
		background-image: url('../img/popup/1200.jpg');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}

	&__title {
		margin-top: 35px;
		margin-bottom: 10px;
		font-size: 1.75em;
	}

	&__text {
		line-height: 1.3;
		font-size: 1.15em;
	}

	&__form {
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		max-width: 330px;
	}

	.form {

		&__block {
			position: relative;
			margin-bottom: 20px;
			border-radius: 2px;
			background-color: #ffffff;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				width: 16px;
				height: 22px;
				top: 50%;
				right: 25px;
				transform: translateY(-50%);
			}

			&-name {

				&:after {
					content: url('../img/popup/profile.svg');
				}
			}

			&-phone {

				&:after {
					content: url('../img/popup/phone.svg');
				}
			}
		}

		&__input {
			margin-right: 0;
			margin-bottom: 0;
			width: 100%;
			max-width: 90%;
		}

		&__button {
			padding: 20px 65px;
			
			&:before {
				display: none;
			}
		}
	}
}

@keyframes popupWrapperOpen {
	0% {
		transform: translateY(-40%) translateX(-50%);
		opacity: 0.3;
	}
	100% {
		transform: translateY(-50%) translateX(-50%);
		opacity: 1;
	}
}

// .payments {
	
// 	&__table {
// 		max-width: 940px;

// 	}

// 	.quote {
// 		max-width: 940px;
// 		margin-top: 30px;
// 	}
// }

// .payment-table {
// 	text-align: left;
// 	width: 100%;
	
// 	&__item {
// 		padding: 15px 10px 15px 0;
// 		border-bottom: 1px dashed #DEE2FF;
// 	}

// 	&__title {
// 		font-size: 1em;
// 		line-height: 1.3;
// 	}
// }

// .refill {

// 	&__form {
// 		padding: 30px 40px 65px 40px;
// 		width: 49%;

// 		.form__button {
// 			margin-top: 40px;
// 		}
// 	}

// 	&__banner {
// 		background-color: #C4C4C4;
// 		width: 49%;
// 		overflow: hidden;
// 		border-radius: 2px;
// 	}
// }

// .user-card {

// 	.quote {
// 		padding: 20px 40px;
// 		margin: 20px 0;
// 	}
// }

// .support {

// 	&__cash-flow {
// 		width: 64%;
// 	}

// 	&__user-card {
// 		width: 34%;
// 	}

// 	.quote {
// 		margin: 0;
// 		border-left: none;
// 		padding: 0 25px;
// 		font-size: 0.875em;

// 		&__block {

// 			&:first-of-type {
// 				padding-top: 20px;
// 			}

// 			&:last-of-type {
// 				padding-bottom: 20px;
// 				border-bottom: 1px dashed #DEE2FF;
// 			}
// 		}

// 		&:last-of-type {

// 			.quote__block {

// 				&:last-of-type {
// 					border-bottom: none;
// 				}
// 			}
// 		}
// 	}
// }

@import "media"; // Always at the end
